{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/edit_job.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_lookup.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">
{% endblock %}

{% block content %}
    <!-- Job Details Section -->
    {% include "jobs/edit_job_detail_section.html" %}

    <hr/>

    <div class="job-pricing-sections">
        <div class="job-grid-section">
            <h2>Estimate</h2>
            <div id="estimateTimeTable" class="ag-theme-alpine price-entry-table"></div>
            <div id="estimateMaterialsTable" class="ag-theme-alpine price-entry-table"></div>
            <div id="estimateAdjustmentsTable" class="ag-theme-alpine price-entry-table"></div>
            <button id="copyEstimateToQuote" class="btn btn-primary mt-3">Copy Estimate to Quote</button>
        </div>

        <div class="job-grid-section">
            <h2>Quote</h2>
            <div id="quoteTimeTable" class="ag-theme-alpine price-entry-table"></div>
            <div id="quoteMaterialsTable" class="ag-theme-alpine price-entry-table"></div>
            <div id="quoteAdjustmentsTable" class="ag-theme-alpine price-entry-table"></div>
            <button id="reviseQuote" class="btn btn-primary mt-3">Revise Quote</button>
            <button id="submitQuoteToClient" class="btn btn-primary mt-3">Submit Quote to Client</button>
        </div>

        <div class="job-grid-section">
            <h2>Reality</h2>
            <div id="realityTimeTable" class="ag-theme-alpine price-entry-table"></div>
            <div id="realityMaterialsTable" class="ag-theme-alpine price-entry-table"></div>
            <div id="realityAdjustmentsTable" class="ag-theme-alpine price-entry-table"></div>
        </div>

        <div class="job-grid-section">
            <h2>Totals</h2>
            <div id="totalsTable" class="ag-theme-alpine"></div>
        </div>
    </div>


    <hr/>

    <!-- Workflow Section -->
    {% include "jobs/edit_job_workflow_section.html" %}

    <hr/>
    {% if job_form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in job_form.errors.items %}
                    <li>{{ field }}: {{ errors }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <hr/>

    <!-- Save/Cancel Buttons -->
    <div class="action-buttons">
        <!-- <button class="btn btn-primary" id="saveButton">Save</button> -->
        <button class="btn btn-secondary" id="cancelButton" onclick="window.location.href='/'">Cancel</button>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/ag-grid-community@32.2.0/dist/ag-grid-community.min.js"></script>
    <script src="{% static 'js/client_lookup.js' %}"></script>
    <script src="{% static 'js/edit_job_form_autosave.js' %}"></script>
    <script src="{% static 'js/edit_job_grid_logic.js' %}"></script>
{% endblock %}
