{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/kanban.css' %}">
{% endblock %}

{% block content %}
<div class="search-container">
    <input type="text" id="search" placeholder="Search jobs...">
</div>

<div class="kanban-board">
    {% for status_key, status_label in status_choices %}
    <div id="{{ status_key }}" class="kanban-column">
        <div class="column-header">{{ status_label }}</div>
        <div class="job-list"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="{% static 'js/kanban.js' %}"></script>
{% endblock %}
