{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/kanban.css' %}">
{% endblock %}

{% block content %}

<div class="search-container">
  <input type="text" id="search" class="form-control" placeholder="🔍 Search jobs...">

  <div class="left-container">
    <div class="job-controls">
      <label for="jobPageSize" class="form-label">Jobs per page:</label>
      <select id="jobPageSize" class="form-select">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
</div>

<div class="kanban-board">
  {% for status_key, status_label in status_choices %}
  <div id="{{ status_key }}" class="kanban-column">
      <div class="column-header">{{ status_label }} (<span id="{{ status_key }}-count">0</span> of <span id="{{ status_key }}-total">0</span>)</div>
      <div class="job-list"></div>
      
      <div id="{{ status_key }}-load-more-container" class="load-more-container mb-2" style="display: none;">
          <button id="{{ status_key }}-load-more" class="load-more btn btn-secondary" data-status="{{ status_key }}">
              Load More
          </button>
      </div>
  </div>
  {% endfor %}  
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'sortablejs/Sortable.min.js' %}"></script>
<script src="{% static 'js/kanban.js' %}"></script>
{% endblock %}