{% extends "base.html" %}

{% block content %}
    <h1>Jobs</h1>
    {% if jobs %}
        <ul>
            {% for job in jobs %}
                <li>
                    <a href="{% url 'update_job' job.id %}">
                        {{ job.client_name }} - {{ job.status }} -
                        {% if job.job_number %}
                            {{ job.job_number }}
                        {% else %}
                            {{ job.order_number }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No jobs found.</p>
    {% endif %}
{% endblock %}
