[Unit]
Description=Xero Sync Service
After=network.target

[Service]
Type=simple
User=django_user
Group=django_user
Environment=XERO_SYNC_INTERVAL_HOURS=1
WorkingDirectory=/home/django_user/jobs_manager
ExecStart=/home/django_user/jobs_manager/.venv/bin/python manage.py start_xero_sync
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target